html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Heebo', sans-serif;
    width: 100%;

    h2 {
        text-align: center;
        font-size: 2em;
    }

    h3 {
        font-weight: bold;
        color: rgb(146, 146, 221) !important;
        font-style: italic;
    }

    .active {
        color: rgb(146, 146, 221) !important;
    }

    #button {
        opacity: 0;
        transition: ease-in;
        transition-duration: 1s;
        position: fixed;
        right: 10px;
        top: 80%;
        height: 25px;
        width: 30px;
        padding: 5px;
        padding-right: 0;
        border-radius: 50%;
        background: linear-gradient(90deg, rgba(40, 45, 153, 1) 0%, rgba(0, 10, 110, 1) 72%);
    }

    #img-button {
        filter: invert(100%);
    }

    #button:hover {
        background: black;
        filter: invert(100%);
    }

    #navname {
        color: white !important;
    }

    .overlay {
        opacity: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-transform: uppercase;
        font-weight: bold;
        font-size: 2em;
        color: white;
    }

    .reveal {
        opacity: 0;
        transform: translateY(-30px);
    }

    .reveal-visible {
        opacity: 1;
        transform: translateY(0);
        transition: 1.5s cubic-bezier(.5, 0, 0, 1);
    }
}

@keyframes test2 {
    0% {
        transform: translateY(-1000px);
        color: rgb(19, 19, 129);
    }

    100% {
        transform: translateY(0);
        color: white;
    }
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4em;
    width: 100%;
    background: linear-gradient(90deg, rgba(40, 45, 153, 1) 0%, rgba(0, 10, 110, 1) 72%);
    position: fixed;
    top: 0;
    z-index: 999;
    animation: test2 3s;

    h1 {
        margin-left: 1em;

        a {
            text-decoration: none;
            color: white;
        }
    }

    #nav-bar {
        max-height: 100%;
        margin-right: 2em;

        ul {
            height: 100%;
            list-style: none;
            margin: 0;
        }

        li {
            display: inline-flex;
            margin-right: 1em;
        }

        a {
            color: white;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 1.1em;
        }

        a:hover {
            color: rgb(161, 161, 228) !important;
        }
    }
}

#accueil {
    display: flex;
    flex-direction: column;
    margin-top: 4.1em;
    height: 100vh;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin-bottom: 1em;


    #me {
        color: rgb(19, 19, 129);
        font-size: 5em;
    }

    #me2 {
        font-size: 3em;
    }

    @keyframes test {
        0% {
            opacity: 0;
            transform: translateX(-1000px);
        }

        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }

    #my_name {
        text-align: center;
        line-height: 3.5em;
        animation-name: test;
        animation-duration: 2s;

        #follow-me img:hover {
            filter: invert(50%);
        }
    }

    p {
        font-weight: bold;
    }

    #button-cv {
        background: linear-gradient(90deg, rgba(40, 45, 153, 1) 0%, rgba(0, 10, 110, 1) 72%);
        border: none;
        border-radius: 5px;
        min-height: 3em;
    }

    a {
        text-decoration: none;
        color: white;
        font-size: 2em;
    }

    #button-cv:hover {

        a {
            color: rgb(19, 19, 129);
        }

        background: white;
        border: 2px solid rgb(19, 19, 129);

    }
}

#apropos {
    padding: 96px;
    background: linear-gradient(90deg, rgba(40, 45, 153, 1) 0%, rgba(0, 10, 110, 1) 72%);
    color: white;
    min-height: 15em;

    p {
        font-weight: bold;
        text-align: justify;

        #becode {
            a {
                color: rgb(161, 161, 228);
                text-decoration: none;
            }
        }

        #stage {
            color: rgb(161, 161, 228) !important;
            font-weight: bolder;
        }

    }
}

#competences {
    display: flex;
    flex-direction: column;
    padding: 96px;
    min-height: 15em;
    background-color: white;
    color: rgb(19, 19, 129);

    #container-logo {
        align-self: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        img:hover {
            transform: scale(1.2);
        }
    }
}

#portfolio {
    padding: 96px;
    background: linear-gradient(90deg, rgba(40, 45, 153, 1) 0%, rgba(0, 10, 110, 1) 72%);
    color: white;
    min-height: 15em;
    display: flex;
    flex-direction: column;
    text-align: center;

    p {
        font-weight: bold;
    }

    #container-card {
        height: 100%;
        width: 100%;

        .card {
            width: 100%;
            height: 50%;
            margin-top: 1em;
            position: relative;

            .img-card {
                width: 50%;
                height: 100%;
                border-radius: 10px;
                border: 1px solid rgb(19, 19, 129);
                opacity: 0.8;
            }

            .img-card:hover {
                opacity: 0.5;
            }
        }
    }


}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 96px;
    min-height: 15em;
    background-color: white;
    color: rgb(19, 19, 129);

    #contact-infos {
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 3em;
    }

    a {
        color: rgb(19, 19, 129);
        text-decoration: none;
    }

}

footer {
    display: flex;
    padding: 5px;
    background: linear-gradient(90deg, rgba(40, 45, 153, 1) 0%, rgba(0, 10, 110, 1) 72%);
    justify-content: center;

    a {
        color: white;
        text-decoration: none;
        font-size: 12px;
        font-weight: bold;
    }

    a:hover {
        color: rgb(161, 161, 228) !important;
    }
}

@media screen and (max-width: 1050px) {

    body {
        max-width: 100% !important;
    }

    #nav-bar {
        display: none;
    }

    #accueil {
        margin-bottom: 0;
    }

    section {
        padding: 50px !important;
    }

    header {
        justify-content: center;

        h1 {
            margin-left: 0;
        }

        .active {
            color: white !important;
        }
    }

    .img-card {
        width: 90% !important;
        height: 100%;
    }

    .overlay {
        font-size: 1em !important;
    }

}

@media screen and (max-width: 550px) {
    #me {
        font-size: 2.5em !important;
    }

    #me2 {
        font-size: 2em !important;
    }
}