html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
}

body h2 {
  text-align: center;
  font-size: 2em;
}

body .active {
  color: #2323d3 !important;
}

body #button {
  position: fixed;
  right: 10px;
  top: 80%;
  height: 25px;
  width: 30px;
  padding: 5px;
  padding-right: 0;
  border-radius: 50%;
  background-color: #131381;
}

body #img-button {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

body #button:hover {
  background-color: black;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

body #icons8 {
  position: relative;
  bottom: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 4em;
  width: 100%;
  background-color: #131381;
  position: fixed;
  top: 0;
}

header h1 {
  margin-left: 1em;
}

header h1 a {
  text-decoration: none;
  color: white;
}

header #nav-bar {
  max-height: 100%;
  margin-right: 2em;
}

header #nav-bar ul {
  height: 100%;
  list-style: none;
  font-size: 1.4em;
  margin: 0;
}

header #nav-bar li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 1em;
  text-transform: uppercase;
}

header #nav-bar a {
  color: white;
  text-decoration: none;
}

header #nav-bar a:hover {
  color: #2323d3;
}

#accueil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 5em;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
  margin-bottom: 1em;
}

#accueil #nameandavatar {
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#accueil #nameandavatar #avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50%;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#accueil #nameandavatar #avatar img {
  max-height: 100%;
  max-width: 100%;
}

#accueil #nameandavatar #my_name {
  text-align: center;
  font-size: 2em;
  line-height: 1.4em;
}

#accueil #nameandavatar p {
  font-weight: bold;
}

#accueil #nameandavatar button {
  background-color: #131381;
  border: none;
  border-radius: 5px;
  min-height: 3em;
}

#accueil #nameandavatar a {
  text-decoration: none;
  color: white;
  font-size: 2em;
}

#accueil #nameandavatar button:hover {
  background-color: white;
  border: 2px solid #131381;
}

#accueil #nameandavatar button:hover a {
  color: #131381;
}

#apropos {
  padding: 96px;
  background-color: #131381;
  color: white;
  min-height: 15em;
}

#apropos p {
  font-weight: bold;
  text-align: justify;
}

#competences {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 96px;
  min-height: 15em;
  background-color: #e9e5e5;
  color: #131381;
}

#competences #container-logo {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#competences #container-logo img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#portfolio {
  padding: 96px;
  background-color: #131381;
  color: white;
  min-height: 15em;
}

#contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 96px;
  min-height: 15em;
  background-color: #e9e5e5;
  color: #131381;
}

#contact #contact-infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 3em;
}

@media screen and (max-width: 930px) {
  body {
    max-width: 100% !important;
  }
  #nav-bar {
    display: none;
  }
  #avatar {
    height: 40% !important;
  }
  section {
    padding: 50px !important;
  }
  header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header h1 {
    margin-left: 0;
  }
  header .active {
    color: white !important;
  }
}
/*# sourceMappingURL=style.css.map */